@font-face {
  font-family: "Kaushan Script";
 src : url("KaushanScript-Regular.otf");
       
}

#cabecalho{
color: white;
background: #6175f0;
padding-left: 34px;
padding-top: 20px;
padding-bottom: 13px;
}

#cabecalho h1{
	font-size: 36px;
	font-family: "Kaushan Script";	
}


#cabecalho h2{
	font-family: "Times New Roman", Times, serif;font-family: "Times New Roman"; 
	font-size: 24px;
}

#verdade h2{
	font-family: "Times New Roman", Times, serif;	
	font-size: 24px;
}

#verdade p{
	font-family: arial;
	font-size: 14px;
}

#verdade img{
	
	width: 310px;
	float: left;
	padding: 13px 13px 0px 0px;
}

.referencia{
	font-style: italic;
}


#hoje{
	margin-right: 25px;
	float: right;
	width: 405px;
	padding: 20px 35px 30px 35px;
	background-color:#f8cef7;
	border: 1px solid #ff56fb;
}

#hoje h2{
	margin-bottom: 1px;
	padding-left: 27%;
	padding-bottom: 3px;
	font-family: "Times New Roman", Times, serif;	
	font-size: 24px;
}
#hoje h3{
	
	font-size: 10px;
	padding: 0px 0px 0px 40%;
	margin: 0px 0px 0px 0px;
	
}
#hoje img{
	
	padding-left: 32%;
	width: 112px;
	height: 99px;

}

.teste{
	width: 112px;
	height: 112px;
}

#musica{

	max-width: 40%;
	padding-left: 12px;
	padding-right: 17%;
	width: 60%;
	float: left;

}
 
#musica p:nth-child(odd){
  padding-left: 34px;

}



.destacado{
	margin-left: -12px;
	padding-left: 12px;
	clear: both;
	width: 250%;
	color: #004a79;
	background-color: #c4caf3;
}

.destacado p{
	
	padding-right: 60%;
}

.destacado p:nth-child(1){
	padding-left: 34px;
}









